$weights: (
    "100",
    "200",
    "300",
    "400",
    "500",
    "600",
    "700",
    "800",
    "900",
);

@each $weight in $weights {
    @font-face {
        font-family: "Poppins";
        src: url("@fonts/poppins-latin-ext-#{$weight}-normal.woff") format("woff"),
        url("@fonts/poppins-latin-ext-#{$weight}-normal.woff2") format("woff2");
        font-weight: $weight;
        font-style: normal;
    }

    @font-face {
        font-family: "Poppins";
        src: url("@fonts/poppins-latin-ext-#{$weight}-italic.woff") format("woff"),
        url("@fonts/poppins-latin-ext-#{$weight}-italic.woff2") format("woff2");
        font-weight: $weight;
        font-style: italic;
    }
}